<header class="masthead"> 
 <nav class='language-nav'>
  <ul>
      <li> <a> CSS  </a></li>
      <li> <a> HTML </a></li>
      <li> <a> Javascript </a></li>
      <li> <a> Ruby </a></li>
  </ul>
 </nav> 
<img class='logo' src="assets/AA_Times_Logo.png">
<nav class='masthead-links'>
<ul> 
  <li> Tuesday, October 18, 2016  </li>
  <li><a><i class="far fa-newspaper"></i>Today’s Paper</a></li>
  <li><a><i class="fas fa-video"></i>Video</a></li>
  <li> 77°F</li>
  <li id="last-link"> AAO +100%</li>
</ul>
</nav>

</header>






